name: sample_CICD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore Secret File
        run: |
          mkdir -p lib/remote
          echo "${{ secrets.BASE_URL_CONFIG }}" | base64 --decode > lib/remote/base_url.dart
      # -----------------------------------
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.38.5

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --debug --build-name=1.0.0 --build-number=1

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
